.archiveHistoryContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .archiveHistoryTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .archiveHistoryTable th,
  .archiveHistoryTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .archiveHistoryTable th {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .archiveHistoryTable th select {
    margin-left: 10px;
  }
  