/* AddNewDivision.css */

.add-division-container {
    margin: 10%;
  }

  
  
  .back-button {
    font-size: 24px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .division-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form-row label {
    width: 160px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .form-row input,
  .form-row select {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .confirm-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .confirm-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button:hover {
    background-color: #0056b3;
  }
  