.User-dashboard {
    display: flex;
    width: 80vh;
    height: 80vh; /* Adjust as needed */
    overflow-y: auto;
}
  
  /* Style for the left sidebar */
.left-sidebar-U {
    width: 20%; /* Adjust the width as needed */
    background-color: rgba(70, 70, 70, 0.7); /* Dark gray with 70% opacity */
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 10px;
}

.left-sidebar-U >div {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.left-sidebar-U .dashboard {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(70, 70, 70, 0.7); /* Dark gray with 70% opacity */
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
  
  /* Style for the right content area */
.right-content-U {
    flex: 1;
    background-color: rgba(200, 200, 200, 0.3); /* Light gray with 30% opacity */
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 10px;
}

.left-sidebar-U .menu-item-U.active {
    background-color: rgba(100, 100, 100, 0.9); /* Darker gray with higher opacity for active item */
}