/* EditTeacherList.css */

.edit-teacher-list {
  margin: 10%;
}

.overflow-container {
  max-height: 300px; /* 设置最大高度，根据需要调整 */
  overflow-y: auto; /* 启用垂直滚动条 */
}

.upper-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-row label {
  width: 120px;
  margin-right: 30px;
  font-weight: bold;
}

.input-row input,
.input-row select {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.lower-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 修改这里以使两个 h3 元素对齐 */
}

.left-section {
  flex: 1;
  padding: 20px;
  width: 50%;
  max-height: 300px;
}

.left-section h3 {
  margin-bottom: 15px;
}

.left-section table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
}

.middle-section {
  flex: 1;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.symbol {
  font-size: 30px; /* 根据需要调整符号的大小 */
  margin: 5px 0; /* 控制符号的上下间距 */
}

.right-section h3 {
  margin-bottom: 15px;
}

.right-section {
  flex: 1;
  padding-left: 20px;
  padding: 20px;
  max-height: 300px;
}

.right-section input {
  height: 200px;
  border-radius: 5px;
  width: 150%; /* 设置输入框宽度与表格一样 */
  border: 2px solid #ccc;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm-button {
  display: block;
  margin: 0 auto; /* 水平居中 */
  padding: 10px 20px; /* 添加内边距 */
  background-color: #007bff; /* 默认蓝色按钮颜色 */
  color: #fff; /* 文字颜色为白色 */
  border: none; /* 去掉边框 */
  border-radius: 5px; /* 圆角 5px */
  cursor: pointer; /* 鼠标指针样式为手型 */
}

.confirm-button:hover {
  background-color: #0056b3; /* 鼠标悬停时的颜色 */
}
